{
  "presets": ["env"],
  "env": {
    "test": {
      "presets": [["babel-preset-env", { "targets": { "node": "current" } }]],
      "plugins": ["transform-flow-strip-types", "transform-es2015-modules-commonjs"]
    }
  }
}
