{
  "presets": ["@babel/preset-env", "@babel/preset-flow"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-transform-flow-strip-types", "@babel/plugin-transform-modules-commonjs", "@babel/plugin-transform-runtime"]
    }
  }
}
