.vscode
.idea
coverage
junit.xml
npm-debug.log
node_modules
samples/package-lock.json
samples/yarn.lock
samples/platforms
samples/hooks/
test-results.xml
dist/
packages/nativescript-vue-template-compiler/index.js
!docs/dist/
RELEASE_NOTES*.md
