@import 'nativescript-theme-core/css/core.light.css';

/* Your CSS goes here */

.even {
    color: red;
}

.odd {
    color: blue;
}


.fade-enter-active {
    animation-name: fade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.fade-leave-active {
    animation-name: fade;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

.tabbar {
    width: 100%;
    vertical-align: bottom;
    background-color: #eaeaea;
}

.tabbar__item {
    padding: 20 0;
    width: 50%;
    text-align: center;
    vertical-align: center;
}

.tabbar__item--active {
    color: #5577dd;
}
